@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

body.page-embed {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans', 'Helvetica', 'Arial', sans-serif !important;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
}
body.page-embed #main {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
body.page-embed #main #content {
  padding: 0 !important;
  margin: 0 !important;
}
body.page-embed #main .update-row .update-body {
  width: 100%;
}
body.page-embed #main .update-body {
  font-size: 16px;
}

.report {
  padding: 0 !important;
  margin: 0 !important;
}

#footer {
  margin: 0;
}

#footer-inner {
  padding: 0.5em;
}
#footer-inner a.factcheck-cta {
  display: block;
  float: left;
  padding: 0.15em 0.5em;
  margin: 0;
}

#footer #footer-menu {
  float: right;
  padding: 0.15em 0.5em;
}
#footer #footer-menu:before {
  background-color: none;
  background-image: none;
}
